@font-face {
  font-family: "Bogart";
  src: local("Bogart-Regular-trial"),
    url(./fonts/Bogart-Regular-trial.ttf) format("truetype")
  ;
}

@font-face {
  font-family: "Biotif";
  src: local("Biotif-Regular"),
    url(./fonts/Biotif-Regular.ttf) format("truetype")
  ;
}

*, body {
  
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: 'Biotif', sans-serif;
  background-color: #111;
  color: #d1d1cc;
  transition: 1s;
}

a {
  color: #fff;
  text-decoration: none;
}

/* ----- HEADER -----*/

header, .header-box {
  display: flex;
  align-items: center;
  width: 100%;
}
header {
  justify-content: center;
}

.header-box {
  justify-content: space-around; 
  height: 60px;
  background-color: #111;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul li {
  list-style: none;
  margin: 2em;
}
.nav-links ul li :hover {
  text-decoration: underline solid 2px pink;
}

.ext-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ext-links ul li {
  list-style: none;
  margin: 2em;
}

.logo {
  position: relative;
  top: 5px;
  transition: 0.6s;
  transform: translateX(-200%);
}

.logo:hover {
  filter: invert(1);
}

ion-icon {
  scale: 1.5;
}

ion-icon:hover{
  filter: invert(1);
}

/* ----- PRESENTATION ----- */

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  width: 70%;
  height: 800px;
}

.presentation-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.presentation-text h1 {
    font-family: Bogart,sans-serif;
    font-size: 4.5em;
    width: 90%;
    letter-spacing: -1.5px;
    line-height: 110%;
    font-weight: 400;
    margin-bottom: 10px;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentation-text h1 span {
  display: block;
}

.presentation-text p {
  width: 90%;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.2px;
  line-height: 150%; 
}

.presentation-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.animation {
  width: 30%;
  height:  50%;
  background: url('./assets/diapo-c.png');
  box-shadow: 10px 10px 40px black;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  transition: 1s;

  background-size: cover;
}


.learning {
  position: relative;
  top: 50px;
  font-size: 30px;
  background: #191919;
  border-radius: 20px;
  padding: 20px;
  box-shadow: inset 5px 5px 30px 3px rgba(0, 0, 0, 0.7);
  animation: float 2s ease-in-out infinite; 
}

.learning span {
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photo-a {
  position: relative;
  opacity: 1;
  z-index: 1;
  width: 100%;
  transform: translateY(-16%);
}

.photo-b {
  z-index: 2;
  position: absolute;
  left: 0;
  opacity: 1;
  width: 100%;
  transition: 1s;
}


.animation:hover .photo-b {
  opacity: 0;
  transition: 1s;
}

.animation:hover {
  box-shadow: 10px 10px 60px black;
  transform: translateY(-2%);
}



/* ----- PROJETS ----- */

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 70%;
  height: 800px;
  background: #191919;
  border-radius: 20px;
  position: relative;
  transition: 1s;
}

.project:hover {
  box-shadow: 10px 10px 40px black;
  transform: translateY(-2%);
}

.project img {
  border-radius: 10px;
  padding: 0;
  transition: 1.2s;
  z-index: 2;
  box-shadow: 10px 10px 40px black;
}

.project-desc{
  position: absolute;
  width: 40%;
  font-size: 30px;
  line-height: 120%;
  transition: 1.3s;
  scale: 0.5;
  text-shadow: 10px 10px 20px black;
  opacity: 0;
}

.project:hover img {
  transform: translateX(-70%);
  scale: 0.8;
}

.project:hover .project-desc {
  transform: translateX(50%);
  scale: 1;
  opacity: 1;
}

.project-info {
  position: absolute;
  top: 5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.project-type {
  font-family: Biotif ;
  opacity: 0.5;
  text-align: right;
}

.project-title {
  font-family: Bogart;
  font-size: 35px;
  transition: 2s;
}


.project:hover .project-title {
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-git {
  scale: 1.2;
  position: relative;
  top: 20px;
}

.project-link {
  scale: 1.2;
  position: relative;
  top: 40px;
}



/* ----- Footer ----- */

.footer {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h5 {
    font-family: Bogart,sans-serif;
    font-size: 2.5em;
    letter-spacing: -1.5px;
    line-height: 110%;
    margin-bottom: 10px;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 50%;
    font-weight: 400;
}

.footer-email {
    font-family: Bogart,sans-serif;
    font-size: 2.5em;
    letter-spacing: -1.5px;
    line-height: 110%;
    margin-bottom: 10px;
    text-align: center;
    width: 30%;
    font-weight: 400;
    margin-bottom: 70px;
}

.footer-email:hover {
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer h6 {
  font-family: Bogart,sans-serif;
  font-size: 2em;
  letter-spacing: -1.5px;
  line-height: 110%;
  margin-bottom: 10px;
  text-align: center;
  width: 40%;
  font-weight: 400;
  transition: 1s;
}

.footer h6 em {
  opacity: 0.6;
}

.footer h6:hover {
  text-shadow: 1px 1px 50px rgb(131, 130, 130);
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* ----- About ----- */

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem auto;
  width: 70%;
  height: 800px;
}

.about-pic {
  width: 450px;
  height:  450px;
  box-shadow: 10px 10px 40px black;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  transition: 1s;
}


.about-pic:hover {
  box-shadow: 10px 10px 60px black;
  transform: translateY(-2%);
}


.about-me {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me h2 {
  font-family: Bogart;
  font-size: 30px;
  width: 90%;
  margin-bottom: 2rem;
}

.about-me p {
  font-size: 17px;
  width: 90%;
  margin-bottom: 2rem;
}

.studies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem auto;
  width: 80%;
  background: #191919;
  border-radius: 20px;
  padding: 25px 40px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 5px 5px 30px 3px rgba(0, 0, 0, 0.7);
}

.studies h3 {
  font-size: 40px;
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3rem 1rem;
    text-align: center;
    width: 80%;
    animation: float 2s ease-in-out infinite; 
}

.studies-parts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.studies-parts li, h4 {
    margin-bottom: 1em;
}

.studies-parts h4 {
  font-size: 20px;
}

.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px rgba(255, 255, 255, 0.233) solid;
  width: 30%;
  padding: 15px;
}

.school-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px rgba(255, 255, 255, 0.233) solid;
  width: 30%;
  padding: 15px;
}

.hard-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px rgba(255, 255, 255, 0.233) solid;
  width: 20%;
  padding: 15px;
  font-size: 18px;
}

.soft-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  padding: 15px;
  font-size: 18px;
}

.hard-skills ul li {
  margin: 1em;
  padding: 10px 10px;
  background-color:#111;
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
  list-style: none;
}


.soft-skills ul li {
  margin: 1em;
  padding: 10px 10px;
  background-color:#111;
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
  list-style: none;
}


.learn ul li {
  text-align: center;
  width: 80%;
  list-style: none;
}

.learn ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school-info ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.school-info ul li {
  text-align: center;
  list-style: none;
  width: 70%;
  margin-bottom: 30px;
}


.hobbies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4rem auto;
  width: 80%;
  background: #191919;
  border-radius: 20px;
  padding: 40px 80px;
  position: relative;
  box-shadow: inset 5px 5px 30px 3px rgba(0, 0, 0, 0.7);
}

.hobbies h3 {
  font-size: 40px;
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
    animation: float 2s ease-in-out infinite; 
    text-shadow: 5px 5px 50px black;
}

.hobbies p {
  font-size: 20px;
  margin-bottom: 1em;
  width: 80%;

}

.hobbies-text {
  width: 60%;
}


.spotify {
  margin: auto;
  width: 60%  ;
  text-shadow: 5px 5px 30px black;
}

.spotify h4 {
  width: 100%;
}

.hobbies h4 {
  font-size: 40px;
  color: #1ED760;
  text-align: center;
  text-shadow: 5px 5px 10px black;
}

.cd-makushi {
  display: none;
}

/* --- WIP --- */

.wip-project {
 margin-top: 5em;
}

.wip-main {
  margin: auto;;
  width: 80%;
  padding: 1em;
  background-color: #191919;
  border-radius: 0 0 50px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 50px black;
}

.wip-main h1 {
  font-family: Bogart;
  color: rgb(255, 255, 255);
  margin-top: 2em;
  font-size: 50px;
  width: 80%;
  text-align: center;
}

.wip-main h3 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 40px;
  color: #949494d2;
}


/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 1290px) {
  .logo {
    display: none;
  }
  
  .presentation {
    flex-direction: column;
  }

  .animation {
    display: none;
  }
  
  .presentation-text {
    width: 100%;
  }
  .presentation-text h1, p {
    width: 100%;
    text-align: center;
  }

  .project img {
    scale:1.2;
  }

  .about {
    display: flex;
    align-items: center;
    margin: 4rem auto;
    width: 90%;
    height: 800px;
  }
  
  .about-pic {
    display: none;
  }  
  
  .about-me {
    width: 100%;
  }
  
  .about-me h2 {
    width: 90%;
    text-align: center;
  }
  
  .about-me p {
    width: 60%;
  }

  .spotify {
    margin-bottom: 2em;
  }
  
/*-------------------*/

.studies {
  padding: 0 50px;
}

.studies h3 {
  font-size: 28px;
  margin-top: 3em;
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: float 2s ease-in-out infinite; 
}

.studies-parts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.studies-parts li, h4 {
    margin-bottom: 1em;
}

.studies-parts h4 {
  font-size: 18px;
}

.learn {
  display: flex;
  width: 100%;
  border: none;
}
.school-info{
  display: flex;
  width: 100%;
  border: none;
}
.hard-skills{
  display: flex;
  width: 100%;
  border: none;
}
.soft-skills{
  display: flex;
  width: 100%;
  border: none;
  margin-bottom: 4em;
}

.hard-skills ul {
  display: flex;
  list-style: none;
}

.hard-skills ul li {
  margin: 1em;
  padding: 10px 10px;
  background-color:#111;
  border-radius: 20px;
}

.soft-skills ul {
  display: flex;
  list-style: none;
}

.soft-skills ul li {
  margin: 1em;
  padding: 10px 10px;
  background-color:#111;
  border-radius: 20px;
}

.learn ul {
  display: flex;
  list-style: none;
}

.learn ul li {
  margin: 1em;
  text-align: center;
  width: 70%;
}
.school-info ul {
  display: flex;
  list-style: none;
}

.school-info ul li {
  margin: 1em;
  text-align: center;
}

.wip-main h1 {
  font-size: 40px;
}
.wip-main h3 {
  font-size: 30px;
}


}


/* --- SMARTPHONES --- */

@media screen and (max-width: 720px) {

 
  .nav-links {
    font-size: 12px;
    margin-right: 2em;
  }

  .nav-links ul li {
    margin: 5px;
  }

  .ext-links ul li {
    margin: 8px;
  }

  ion-icon {
    scale: 1.1;
  }

  .header-box {
    justify-content: space-between;
    width: 100%;
    padding: 0 1em;
  }



  .logo {
    display: none;
  }
  
  .presentation {
    flex-direction: column;
  }

  .animation {
    display: none;
  }
  
  .presentation-text {
    width: 100%;
  }

  .presentation-text h1 {
    font-size: 50px;
  }
  .presentation-text h1, p {
    width: 100%;
    text-align: center;
  }

  .project img {
    scale:1.4;
  }

  .project:hover img {
    transform: translateX(200%);
    scale: 0.4;
  }

  .project {
    width: 90%;
    height: 400px;
    position: relative;
  }

  .project-desc {
    font-size: 14px;
    width: 40%;
    line-height: 120%;
    scale: 0.5;
    position: absolute;
    left: 0px;
  }

  .project-type {
    font-size: 15px;
  }

  .project-title {
    font-size: 20px;
  }

  .project-info {
    align-items: flex-start;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: 1s;
  }

  .project:hover .project-info{
    opacity: 1;
  }

  .footer {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
  }
  
  .footer h5 {
      font-size: 40px;
      width: 90%;
  }
  
  .footer-email {
      width: 80%;
  }
  
  .footer h6 {
    font-size: 2em;
    margin-bottom: 40px;
    width: 90%;
  }

  .learning {
    font-size: 20px;
    text-align: center;
  }

  iframe {
    display: none;
  }

  .cd-makushi {
    margin: auto;
    display: block;
    margin-bottom: 4em;
    animation: spin linear 2s infinite; 
    transition: 1s;
  }

  .cd-makushi:hover {
    filter: invert(1)
  }

  .wip-main h1 {
    font-size: 35px;
  }
  .wip-main h3 {
    font-size: 25px;
  }
  

}

@media screen and (max-width: 1105px) {

  .about-me h2 {
    font-size: 25px;
  }

  .about-me p {
    font-size: 15px;
  }


  .studies h3 {
    width: 80%;
    font-size: 20px;
  }

  .studies {
    padding: 0;
  }

  .studies {
    font-size: 15px;
  }
  

  .learn ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

  .school-info ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

  .hard-skills ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    }

  .soft-skills ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    }

    .hobbies  {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 90%;
    }

    .hobbies-text h3 {
      margin-top: 2em;
      text-align: center;
      font-size: 25px;
    }

    .hobbies-text p {
      width: 100%;
      font-size: 15px;
      margin-bottom: 2em;
    }


}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}